@page
@model WEB_253503_Yarmak.Areas.Admin.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Phone</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Phone.Id" />
            <div class="form-group">
                <label asp-for="Phone.Name" class="control-label"></label>
                <input asp-for="Phone.Name" class="form-control" />
                <span asp-validation-for="Phone.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone.Description" class="control-label"></label>
                <input asp-for="Phone.Description" class="form-control" />
                <span asp-validation-for="Phone.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone.CategoryId" class="control-label"></label>
                <input asp-for="Phone.CategoryId" class="form-control" />
                <span asp-validation-for="Phone.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone.Price" class="control-label"></label>
                <input asp-for="Phone.Price" class="form-control" />
                <span asp-validation-for="Phone.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="File" class="control-label"></label>
                <input type="file" name="File" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Phone.Mime" class="control-label"></label>
                <input asp-for="Phone.Mime" class="form-control" />
                <span asp-validation-for="Phone.Mime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
